.home {
  padding: 10px 20px;
  font-family: "Arial", sans-serif;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 1rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }

  &__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

    &__icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      svg {
        font-size: 2rem;
        color: #2980b9;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
      }
    }

    &__info {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: right;
      color: #2980b9;
    }
  }

  &__gauge {
    margin-top: 15px;
    text-align: start;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #222;
      margin-bottom: 1rem;
    }

    &__card {
      display: grid;
      grid-template-columns: 450px 1fr;
      gap: 60px;

      &-left {
        // width: 350px;
        margin: 5px 20px;

        &-text {
          text-align: center;
          padding-top: 20px;
          font-size: 24px;
        }
      }

      &-right {
        // width: 600px;
        height: 450px;
        padding-bottom: 30px;

        &-title {
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }
}