.ranking-container {
  padding: 20px;
  background: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;

  .ranking-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }



  .ranking-title {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(240.93, 59.45%, 57.45%);
    font-size: 24px;
    font-weight: bold;
  }

  select {
    outline: none;
    border: 2px solid #2980b9;
    color: white;
    padding: 8px 15px;
    border-radius: 2px;
    width: 150px;
    background: #2980b9;
  }

  option {
    background: whitesmoke;
    color: #2980b9;
  }

  .ranking-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;


    th {
      background-color: #2980b9;
      color: white;
      padding: 10px;
      font-size: 14px;
    }

    td {
      text-align: start;
      padding: 8px;
      border: 1px solid #ddd;
    }

    .student-name {
      font-weight: bold;
      color: #34495e;
    }

    .grade-input {
      width: 50px;
      height: 40px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: #2980b9;
      }
    }
  }

  .student-name {
    text-align: start;
  }

  .save-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2980b9;
    }
  }
}